* {
    padding: 0;
    margin: 0;
}


@font-face {
    font-family: "VK Sans Display";
    src: url("../fonts/VKSansDisplay-Bold.ttf");
    src: url("../fonts/VKSansDisplay-DemiBold.ttf");
    src: url("../fonts/VKSansDisplay-Medium.ttf");
    src: url("../fonts/VKSansDisplay-Regular.ttf");
}

html, body{
    font-family: "VK Sans Display", sans-serif;
    height: 100%;
    overflow: hidden;
    background-color: #F5F6F9;
    color: #7748DF;
}

.main, .login{
    font-weight: 400;
    font-size: 14px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    min-height: 100%;
}

header {
    background: #FCFCFC;
    border-bottom: 1px solid rgb(230, 234, 239);
    box-shadow: rgba(54, 71, 92, 0.02) 0px 6px 10px;
    height: 80px;
    z-index: 2;
    padding: 0px 32px;
    margin-bottom: 26px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: white;
    min-width: 560px;
    border-radius: 24px;
    flex-direction: column;
    padding-top: 48px;
}

.container-main {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 24px;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding-top: 56px;
}

.logo{
    display: block;
    align-items: center;
    margin-bottom: 40px;
}

.main-title{
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 68px;
}

.form-login-input {
    height: 60px;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #E7EAEE;
    justify-content: center;
}

.form-login-input:focus-within, .form-input-send:focus-within {
    background-color: #4b47b2;
}

.form-input-text, .form-input-send-select, .form-input-send-textarea, .form-input-send-file-text {
    padding: 20px 10px;
    font-size: 16px;
    background: white;
    width: 346px;
    height: 56px;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    color: #5e697e;
}

.form-input-send-select{
    padding: 5px;
}

.form-input-send-textarea {
    min-height: 120px;
}

.button{
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 24px;
    border: #4b47b2 solid 2px;
    background-color:#4b47b2;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.button:hover{
    border: #35337B solid 2px;
    background-color:#35337B;
}


.form-login, .form-send {
    margin-bottom: 50px;
}

.form-login-input .button{
    align-items: center;
    height: 60px;
    width: 350px;
    color: white;
    cursor: pointer;
}

.send-data-form {
    display: flex;
    flex-direction: column;
}

.form-input-send {
    width: 350px;
    padding: 2px 0;
    border-radius: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #E7EAEE;
    justify-content: center;
    font-size: 16px;
}

.form-input-send-file {
    padding: 18px 10px;
    background: white;
    width: 346px;
    height: 56px;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    color: #5e697e;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-align: left;
    vertical-align: middle;
}

.form-input-send-file input{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    font-size: 150px;
    height: 54px;
    z-index:20;
}

.select-button{
    background: url("../images/upload.svg") center no-repeat;
    float: right;
    font-size: 16px;
    height: 18px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.form-input-send-file-text {
    float: left;
    overflow: hidden;
}



